<div class="blog card mt-4 mx-4" data-id="{{id}}">
  <div class="blog-header d-flex justify-content-between p-2 m-0">
    <h5 class="m-0">
      {{#if logged_in}} {{!-- this worked --}}
      <a href="/blog/{{id}}">{{title}}</a>
      {{else}}
      <a href="/login" class="me-4">{{title}}</a> 
      {{/if}}
    </h5>
    <p class="m-0">Posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <p class="blog-content p-3 m-0">{{content}}</p>
</div>
